body
{
    margin: 0;
    background-image: url('http://s3.postimg.org/f4kuxchg3/purty_wood_2_X.png');
    background-color: #FFFFFF;
    background-repeat: repeat;
}


/* #pBorder
{
    position: absolute;
    top: 95px;
    right: 95px;
    bottom: 45px;
    left: 95px;
    background: #CCCCCC;
}
    
#paper
{
    position: absolute;
    top: 100px;
    right: 100px;
    bottom: 50px;
    left: 100px;
    background-image: url('http://s22.postimg.org/5b6mwed75/linedpaper_2x.png');
}*/
    


svg
{
    position: absolute;         /*used to be fixed */
    
    word-wrap: break-word;      
    margin: auto;
    overflow: auto;
    
    width: 80%;             /* used to be 100% */
    height: 100%;

    top: 100px;
    right: 100px;
    bottom: 0px;
    left: 100px;
    
    background-image: url('http://s22.postimg.org/5b6mwed75/linedpaper_2x.png');
}

text
{
    font-family: 'Arial', cursive;
}
