body
{
    margin: 0;
    background-image: url('http://s8.postimg.org/yn0oxlsl1/dark_wood_2_X.png'); /* DARK WOOD */
    background-color: #FFFFFF;
    background-repeat: repeat;
}

svg
{
    position: absolute;         /*orig fixed */
    padding: 1cm;
    word-wrap: break-word;      
    
    overflow: scroll; 
    
   height: 100%;
    width:80%;      /*may look weird fi not in presentation mode CHROME made */
   
    margin-top:100px;
    margin-bottom:100px;
    margin-right:50px;
    margin-left:80px;

    background-image: url('http://s22.postimg.org/5b6mwed75/linedpaper_2x.png');
    
   -moz-box-shadow: 0 0 8px 8px #888;
    -webkit-box-shadow: 0 0 8px 8px#888;
    box-shadow: 0 0 8px 8px #888;
}    
 

text
{
    font-family: 'Just Me Again Down Here', cursive; /*hard ot read? */
    text-align: center;
    line-height:100;
}
