<!DOCTYPE html>
<html>
    <head>
        <title>Admin</title>
        <link rel="stylesheet" href="../static/vendor/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="../static/vendor/bootstrap/css/bootstrap-responsive.min.css"/>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.10/socket.io.min.js"></script>
        <script src="../static/js/admin.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <div class="row">
                <div class="span10 offset1">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <div class="container">
                                <a class="brand" href="#">TEDxHEC Montreal</a>
                                <ul class="nav pull-right">
                                    <li><a class="btn" id="clear">Clear</a></li>
                                    <li><a class="btn" id="modechange">Change Mode</a></li>
                                    <li><a id="mode">Current Mode: </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="smses" class="span10 offset1"></div>
            </div>
        </div>
        <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>

    </body>
</html>
