<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>TEDxHECMontreal</title>
        <link href='http://fonts.googleapis.com/css?family=Boogaloo' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>

    <body>
        
        <h3>To Collaborate: +1 438-800-1TED (833)</h3>
        
       
        
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.0.8/d3.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.10/socket.io.min.js"></script>
        
        <script src="../static/js/main.js"></script>
        
        
        <script type="text/javascript">
             if (typeof jQuery == 'undefined') {
                 document.write(unescape("%3Cscript src='js/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
            }
        </script>
        
        
        <script type="text/javascript">
             if (typeof d3 == 'undefined') {
                 document.write(unescape("%3Cscript src='js/d3.min.js' type='text/javascript'%3E%3C/script%3E"));
             }
        </script>
        
        
        <script type="text/javascript">
             if (typeof socket == 'undefined') {
                 document.write(unescape("%3Cscript src='js/socket.io.min.js' type='text/javascript'%3E%3C/script%3E"));
            }
        </script>
        
        
        

    
    </body>
</html>
